.container {
    display: grid;
    height: 700px;
    width: 700px;
    background-color: silver;
    margin: 0 auto;
    border: dotted 1px black;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    "yellow1 yellow1 yellow1 yellow1 yellow1 yellow1 yellow1"
    "yellow1 yellow1 yellow1 yellow1 yellow1 yellow1 yellow1"
    "green1 green1 black1 black1 black1 blue1 blue1"
    "brown1 brown1 brown1 brown1 brown1 brown1 brown1"
    "brown1 brown1 brown1 brown1 brown1 brown1 brown1"
    "brown1 brown1 brown1 brown1 brown1 brown1 brown1"
    "purple1 purple1 purple1 purple1 purple1 black2 black2"
    "red1 red1 red1 red1 red1 red1 red1"
    "red1 red1 red1 red1 red1 red1 red1"

    ;
}

.box1 {
    grid-area: yellow1;
    background-color: yellow;
}

.box2 {
    grid-area: green1;
    background-color: green;
}

.box3 {
    grid-area: black1;
    background-color: black;
}

.box4 {
    grid-area: blue1;
    background-color: blue;
}
.box5 {
    grid-area: brown1;
    background-color: brown;
}
.box6 {
    grid-area: purple1;
    background-color: purple;
}
.box7 {
    grid-area: black2;
    background-color: black;
}
.box8 {
    grid-area: red1;
    background-color: red;
}