#b1 {
    background-color: green;
    order 3
}
#b2 {
    background-color: blue;
    order: 2;
}
#b3 {
    background-color: yellow;
    order: 1;
}

.box{
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    margin: 10px;
}

.container {
    border: solid 1px;
    background-color: gray;
    width: 500px;
    height: 500px;
    display: flex;
    /* pos 1 */
    /* justify-content: flex-end;
    align-items: flex-start; */

    /* pos 2 */
    /* justify-content: flex-start;
    align-items: flex-end;  */

    /* pos 3 */
    /* justify-content: flex-end;
    align-items: center;  */
    
}